.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #141414;
}

.bg-titanic {
  background-color: #04153e;
}

.bg-gladiator {
  background-color: #091f52;
}

.bg-interstellar {
  background-color: #113079;
}

.bg-godfather {
  background-color: #214eb0;
}

.bg-rocky {
  background-color: #3d75e4;
}

.bg-alien {
  background-color: #81abee;
}

.bg-memento {
  background-color: #c0d6f6;
}

.bg-arrival {
  background-color: #e4edfb;
}

.bg-rush {
  background-color: #f6f9fe;
}

.bg-bladerunner {
  background-color: #111827;
}

.bg-harakiri {
  background-color: #1c2331;
}

.bg-vertigo {
  background-color: #2e3648;
}

.bg-troy {
  background-color: #495469;
}

.bg-metropolis {
  background-color: #6f7a90;
}

.bg-pianist {
  background-color: #a2abbe;
}

.bg-inception {
  background-color: #cdd3df;
}

.bg-apocalypse {
  background-color: #e6ebf5;
}

.bg-trainspotting {
  background-color: #f5f8fc;
}

.bg-prestige {
  background-color: #34040f;
}

.bg-exorcist {
  background-color: #480a17;
}

.bg-predator {
  background-color: #711426;
}

.bg-stalker {
  background-color: #ab213a;
}

.bg-fargo {
  background-color: #e14761;
}

.bg-indiana {
  background-color: #f196a5;
}

.bg-bandit {
  background-color: #f7cfd5;
}

.bg-romance {
  background-color: #fbe9ec;
}

.bg-joker {
  background-color: #fef8f9;
}

.bg-schindler {
  background-color: #2a1704;
}

.bg-capernaum {
  background-color: #3a1f03;
}

.bg-platoon {
  background-color: #643302;
}

.bg-mulholland {
  background-color: #9e4f00;
}

.bg-lebowski {
  background-color: #d06e0b;
}

.bg-snatch {
  background-color: #e9a35d;
}

.bg-chinatown {
  background-color: #f8d6b5;
}

.bg-jaws {
  background-color: #fbecdd;
}

.bg-warrior {
  background-color: #fefaf6;
}

.bg-oldboy {
  background-color: #142202;
}

.bg-forrest {
  background-color: #1f3404;
}

.bg-whiplash {
  background-color: #304d0a;
}

.bg-shining {
  background-color: #467510;
}

.bg-matrix {
  background-color: #57a003;
}

.bg-drive {
  background-color: #8dc95e;
}

.bg-psycho {
  background-color: #c7e6a8;
}

.bg-amadeus {
  background-color: #e3fed8;
}

.bg-shawshank {
  background-color: #f6fcf3;
}