.color-white {
  color: #fff;
}

.color-black {
  color: #0b1f33;
}

.color-gray {
  color: #66727f;
}

.color-titanic {
  color: #04153e;
}

.color-gladiator {
  color: #091f52;
}

.color-interstellar {
  color: #113079;
}

.color-godfather {
  color: #214eb0;
}

.color-rocky {
  color: #3d75e4;
}

.color-alien {
  color: #81abee;
}

.color-memento {
  color: #c0d6f6;
}

.color-arrival {
  color: #e4edfb;
}

.color-rush {
  color: #f6f9fe;
}

.color-bladerunner {
  color: #111827;
}

.color-harakiri {
  color: #1c2331;
}

.color-vertigo {
  color: #2e3648;
}

.color-troy {
  color: #495469;
}

.color-metropolis {
  color: #6f7a90;
}

.color-pianist {
  color: #a2abbe;
}

.color-inception {
  color: #cdd3df;
}

.color-apocalypse {
  color: #e6ebf5;
}

.color-trainspotting {
  color: #f5f8fc;
}

.color-prestige {
  color: #34040f;
}

.color-exorcist {
  color: #480a17;
}

.color-predator {
  color: #711426;
}

.color-stalker {
  color: #ab213a;
}

.color-fargo {
  color: #e14761;
}

.color-indiana {
  color: #f196a5;
}

.color-bandit {
  color: #f7cfd5;
}

.color-romance {
  color: #fbe9ec;
}

.color-joker {
  color: #fef8f9;
}

.color-schindler {
  color: #2a1704;
}

.color-capernaum {
  color: #3a1f03;
}

.color-platoon {
  color: #643302;
}

.color-mulholland {
  color: #9e4f00;
}

.color-lebowski {
  color: #d06e0b;
}

.color-snatch {
  color: #e9a35d;
}

.color-chinatown {
  color: #f8d6b5;
}

.color-jaws {
  color: #fbecdd;
}

.color-warrior {
  color: #fefaf6;
}

.color-oldboy {
  color: #142202;
}

.color-forrest {
  color: #1f3404;
}

.color-whiplash {
  color: #304d0a;
}

.color-shining {
  color: #467510;
}

.color-matrix {
  color: #57a003;
}

.color-drive {
  color: #8dc95e;
}

.color-psycho {
  color: #c7e6a8;
}

.color-amadeus {
  color: #e3fed8;
}

.color-shawshank {
  color: #f6fcf3;
}