@mixin icon-and-text-color($color) {
  color: $color;

  :global(.bg-inherit) {
    background: $color;
  }
}

@mixin link-style-color($color, $opacity) {
  @include icon-and-text-color($color);

  &:not(.disabled) {

    @media (hover: hover) {

      &:hover {
        @include icon-and-text-color(lighten($color, 3));
      }
    }

    &:active {
      @include icon-and-text-color(darken($color, 3));
    }

    @include keyboard-focus {
      @include icon-and-text-color(lighten($color, 3));
    }
  }

  &.disabled {
    opacity: $opacity;
  }
}

.button {
  @include basic-transition;
  @include link-style-color($color-titanic, 0.4);
}
